{% extends "base.html" %}
{% block title %}- {{ page.title }}{% endblock %}

{% block header %}
<div class="row header" style="background-image: url('/theme/images/esm1.jpg')">
    <div class="dark-overlay"></div>
    <div class="col text-center">
        <h2 class="page-title">{{ page.title }}</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="text-center">
    <a href="#" id="academic">Academic</a> &nbsp;&nbsp;<i style="color:#F8B2A2;">|</i>&nbsp;&nbsp; <a href="#" id="technical">Technical</a>
</div>

<div class="lg-margin-top content">
{{ page.content }}
</div>

<div class="lg-margin-top technical">

  <h3>Applications</h3>
      <h4>Euphony</h4>
          <h5>A music notation editor in the browser</h5>
              <h6>A Microsoft Word editor highlights grammatical errors in real time as you write; Euphony does the same thing as you compose music on the web.</h6>
      <h4>MusEdConnect (<a href="https://www.musedconnect.com/">www.musedconnect.com</a>)</h4>
          <h5>A communication app for education students</h5>
              <h6>This app makes it easy for music education students to coordinate with  public school music teachers they wish to observe.</h6>

    <h3>Experience</h3>
        <h4>Pre-College Curriculum, University of Rochester</h4>
            <h5>Instructor, "Web Developer Bootcamp"</h5>
                <h6>I teach a 2-week intensive summer bootcamp that gets students up and running with HTML, CSS, JavaScript, Python/Flask, and SQLAlchemy. (2018-)</h6>
        <h4>Institute for Music Leadership, Eastman School of Music</h4>
            <h5>Instructor, "Building a Web Presence"</h5>
                <h6>I teach a course that equips upper-level undergraduates and graduate students with practical knowledge of web design and branding. (2017-)</h6>
        <h4>Self-employed</h4>
            <h5>Freelance web developer</h5>
                <h6>I help individual clients refine a vision for their web presence, and then work closely with them to realize that vision</h6>

    <h3>Skills</h3>
        <h4>General</h4>
            <h5>SSH</h5>
            <h5>HTTP/HTTPS</h5>
            <h5>Git</h5>
            <h5>Encryption</h5>
            <h5>Bash</h5>
            <h5>Ajax</h5>

        <h4>Front end</h4>
            <h5>SVG</h5>
            <h5>HTML5</h5>
            <h5>CSS/CSS3</h5>
                <h6>Bootstrap 4</h6>
                <h6>SASS</h6>
            <h5>JavaScript</h5>
                <h6>React</h6>
                <h6>Redux</h6>
                <h6>Web Audio API</h6>
                <h6>jQuery</h6>
                <h6>ES6</h6>
                <h6>Vexflow</h6>
                <h6>Jest</h6>
            <h5>Build tools</h5>
              <h6>Webpack 4</h6>

        <h4>Back end</h4>
            <h5>Python</h5>
                <h6>Flask</h6>
                <h6>Django</h6>
                <h6>SQLAlchemy</h6>
            <h5>Testing</h5>
                <h6>Pytest</h6>
            <h5>RESTful APIs</h5>
            <h5>SQL</h5>

        <h4>DevOps</h4>
            <h5>AWS</h5>
            <h5>Docker</h5>
</div>
{% endblock %}
