{% extends "base.html" %}
{% block title %}- {{ page.title }}{% endblock %}

{% block header %}
<div class="row header"  style="background-image: url('/theme/images/esm3.jpg')">
    <div class="dark-overlay"></div>
    <div class="col text-center">
		{% if page.category %}<a href="/projects" class="category-name">{{ page.category }}</a>{% endif %}<h2 class="page-title"> {{ page.title }}</h2>
	</div>
</div>
{% endblock %}

{% block content %}

{% for tag in page.tags %}
<span class="badge badge-primary">{{ tag }}</span>
{% endfor %}

<div class="content">
{{ page.content }}
</div>
{% endblock %}

<!-- *"The Evolution of Syncopation in 20th-Century Popular Music"*

Think of a song that makes you want to tap your foot or dance. Chances are good that the song has something called *syncopation*, and probably a lot of it. [Some research](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0094446) suggests that syncopation strongly influences our desire to move to music. So what is syncopation?

[Billy jean excerpt] -->
