<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97403011-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-97403011-1');
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Melodic Dictation Practice - TH 205</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="{{ SITEURL }}/theme/dist/assets/posttonal_styles.css" rel="stylesheet">

	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
					<a href=".." class="back">&#10094; back</a>
					<h1 style="font-size: 55px;float:auto;" class="lg-margin-top">Chapter 6</h1>
					<button class="btn btn-default md-margin-top md-margin-bottom new-mel" data-chapter="6">New melody</button>
					<div class="mel hidden">
						<h4>Starting note: </h4>
						<div id="vexflow" style="margin: auto;"></div>
						<button class="play btn btn-primary">Play</button>
						<p style="font-size: 15px" class="text-muted sm-margin-top">Hearings: <span class="counter"></span></p>
						<p style="font-size: 15px" class="answer">Show answer</p>
						<audio src=""></audio>
					</div>


				</div>
			</div>
		</div>
		<script src="{{ SITEURL }}/theme/dist/assets/melodic.bundle.js"></script>	</body>
</html>
